html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

html{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(255, 250, 248);

}

h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(120, 8, 44);
    font-weight: 800;
    padding: 2.5rem 1rem;
}

h2 {
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    padding-bottom: 1rem;  
    text-align: center;
    font-style: italic;
}

input, button {
    border-radius: 1rem;
    border: 1px solid rgb(160, 72, 114);
    padding: 0 0.5rem;
    height: 2.5rem;
    background: white;
    box-sizing: border-box;
        
}

button {
    border-radius: 1.5rem;
    border: 1px solid rgb(160, 72, 114) ;
    padding: 1rem 2rem;
}

/* Input and add button */

#add-container {
	display: flex; 
	gap: 1rem; 
	padding: 1rem;
	
}

#text-input {
	width: 100%;
	border: 1px solid rgb(160, 72, 114);
	padding: 1rem;
	border-radius: 1.5rem; 
    font-family: 'Courier New', Courier, monospace;

}

#color-picker {
    width: 10%;
    border-radius: 3rem;
    padding: 0.2rem;
}

#add-button {
    width: 10%;
    padding: 0.1rem 0.5rem;
    font-size: 2rem;
}


/* view list mode toggle */

#view-toggle-container {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
}	

.toggle-btn {
background-color: rgb(255, 247, 231);
width: 50%;
padding: 0.4rem 1.5rem;
font-size: 1.5rem;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
color: rgb(160, 72, 114);
}

/* poses on list */

/*card view */ 
.card-view {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}

li {
	display: block; 
	width: 100%;
}

.remove-button {
    background-color: rgb(255, 247, 231);
    border: 1px solid rgb(160, 72, 114);
    justify-content: center;
    padding: 0.3rem 1rem;
    margin: -0.5rem 1rem;

}

.card-view li { 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	height: 4rem;
	border:1px solid rgb(160, 72, 114); 
	border-radius: 1.5rem;
	padding: 1rem; 
	margin-bottom: 1rem; 

}

/* list view */

.list-view {
	border: 1px solid rgb(160, 72, 114); 
    display: block;
    align-items: center;
	border-radius: 1.5rem;
	padding: 1.5rem 2rem 0.5rem 2rem;
	margin: 1rem;

}

.list-view li {
	height: 3rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;  
    padding: 0 1rem;      
    margin-bottom: 0.5rem;

}

.list-view li button {
    justify-content: center;
    padding: 0.3rem 1rem;
    margin: -0.5rem -1rem;
}

/* buttons */ 
/* general button rules */

/* this will define how the cursor witll interact with specific buttons when you hover above them */ 
button:hover {
	cursor: pointer;
}


.toggle-btn:hover {
	background-color: rgb(192, 110, 129);
    color: white;
}

.toggle-btn:active {
	background-color: rgb(128, 0, 60);
	color: white;

}

#add-button:hover {
	background-color: rgb(192, 110, 129);
    color: white;
}

#add-button:active {
	background-color: rgb(128, 0, 60);
    color:white
}

/* Media queries */

/* Mobile */
@media screen and (max-width: 600px) {
    
    /* Input & buttons */
    #add-container {
        padding: 1rem;
        gap: 1rem;
    }
    
    #text-input {
        font-size: 1rem;
        padding: 1rem;
    }
    
    #color-picker {
        width: 10%;
    }
    
    #add-button {
        width: 10%;
        font-size: 2rem;
    }
    
    /* Toggle buttons */
    #view-toggle-container {
        padding: 0.5rem;
        gap: 1rem;
    }
    
    .toggle-btn {
        font-size: 1.5rem;
        padding: 0.4rem 1.5rem;
    }
    
    /* Card view */
    .card-view {
        padding: 1rem;
        gap: 1rem;
    }
    
    .card-view li {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    /* List view */
    .list-view {
        margin: 1rem;
        padding: 1.5rem 2rem 0.5rem 2rem;
    }
    
    .list-view li {
        height: 3rem;
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 0.5rem;
    }
    
    .remove-button {
        padding: 0.3rem 1rem;
        margin: -0.5rem 1rem;
    }
}

/* Tablet */ 

@media screen and (min-width: 780px) {
    

    /* Input & buttons */
    #add-container {
        padding: 1.5rem 2rem;
        gap: 1.5rem;
    }
    
    #text-input {
        font-size: 1.2rem;
    }
    
    #color-picker {
        width: 8%;
    }
    
    #add-button {
        width: 8%;
        font-size: 2rem;
    }
    
    /* Toggle buttons */
    #view-toggle-container {
        padding: 0.5rem 2rem;
        gap: 2rem;
        align-items: center;
    }
    
    .toggle-btn {
        font-size: 1.8rem;
        padding: 0.2rem 2rem;
    }
    
    /* Card view - 3 columns */
    .card-view {
        padding: 1.5rem 2rem;
        gap: 1.5rem;
    }
    
    .card-view li {
        width: calc(33.333% - 1rem);
        margin-bottom: 0;
    }
    
    /* List view */
    .list-view {
        margin: 1.5rem 2rem;
        padding: 2rem 2.5rem 1rem 2.5rem;
    }
    
    .list-view li {
        height: 3.5rem;
        font-size: 1.1rem;
        padding: 0 1.5rem;
    }
    
    button {
        font-size: 1.1rem;
    }
}

/* Desktop */ 

@media screen and (min-width: 1024px) {
       
    /* Input & buttons */
    #add-container {
        padding: 1rem 3rem;
        gap: 2rem;
    }
    
    #text-input {
        font-size: 1.3rem;
    }
    
    #color-picker {
        width: 6%;
    }
    
    #add-button {
        width: 6%;
        font-size: 2rem;
        padding: 0.1rem ;

    }
    
    /* Toggle buttons */
    #view-toggle-container {
        padding: 0.5rem 3rem;
        gap: 3rem;
        align-items: center;
    }
    
    .toggle-btn {
        font-size: 2rem;
        padding: 0.2rem 2.5rem;
    }
    
    /* Card view - 4 columns */
    .card-view {
        padding: 2rem 3rem;
        gap: 2rem;
    }
    
    .card-view li {
        width: calc(25% - 1.5rem);
    }
    
    /* List view */
    .list-view {
        margin: 2rem 3rem;
        padding: 2.5rem 3rem 1.5rem 3rem;
    }
    
    .list-view li {
        height: 4rem;
        font-size: 1.2rem;
        padding: 0 2rem;
    }
    
    button {
        font-size: 1.2rem;
    }
}