html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;

}

body {
    background-color:rgb(255, 249, 240);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
   padding: 1rem;
   margin-left: 1rem;
   width: 50%;
}
.
input-form {
    gap: 10rem;
}

#text {
    width: 100%
}

#color {
    width: 50%
}


h1{
    font-size: 5rem;
    color:lightpink;
    margin: 1rem;
    font-weight: 900;
}

input, button {
    border-radius: 1rem;
    border: 1px solid rgb(231, 139, 182);
    padding: 0 0.5rem;
    height: 2.5rem;
    
}

#input-form {
    width:100%;
    display: flex;
    gap:0.2rem;
    margin-bottom: 1rem;

}

main {
    padding: 1rem;
    margin-left: 1rem;
}

/* Card style */

#cards-container {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    text-align: center;
    height: 50vh;
    width: auto;

}

#cards-container li{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border-radius: 10px;
}

/* Button styles */

#cards-container button {
    text-align: center;
    background-color: rgb(212, 212, 212);
}


/* List Style */

.list li {
    padding: 1rem;
    border-bottom: 1px solid grey;
    display: flex;
    gap: 2rem;
    align-items: center;
    

}